name: Test
on: push
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        exit-code: [0, 1]
    steps:
      - uses: actions/checkout@v2

      - name: Restore cache
        uses: ./.github/actions/test

      - name: Create file
        run: touch foo.txt

      - name: Exit
        run: exit ${{ matrix.exit-code }}
